.about{
    width: 100%;
    height: 100%;
}
.about-intro-wholediv{
    width: 100%;
    height: 100%;
}
.aboutpage-intro{
    width: 50%;
    height: 100vh;
    background-color: burlywood;
}
.about-intro-content{
    width: 50%;
    height: 100vh;
    background-color: cornflowerblue;
}